<div class="container">
  <div class="row">
    <h1>Boards</h1>
  </div>

  <div class="row">
    <div class="boards"></div>
    <div class="new-board col-md-3 my-panel board-panel"></div>
  </div>


</div>
